<%= render "shared/header" %>

<div class="main">
  <div class="main-container">
  <% if user_signed_in? %>
    <%= link_to 'お子様情報登録', new_child_path, class: "new-child" %>
  <% end %>
  </div>
</div>

<%= render "shared/second_footer" %>
