<header class="header">
  <div class="header-bar">
    <%= link_to root_path do %>
      <h1 class="title-logo">育児日記</h1>
    <% end %>
    <% if user_signed_in? %>
      <div class="user-info">
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "logout" %>
      </div>
    <% else %>
      <div class="user-info">
        <%= link_to "ログイン", new_user_session_path, class: "login" %>
        <%= link_to "新規登録", new_user_registration_path, class: "sign-up" %>
      </div>
    <% end %>
  </div>
</header>
