.main {
  margin-top: 11vh;
  margin-bottom: 1vh;
  padding-bottom: 8vh;
}

.sample {
  height: 80%;
  width: 80%;
  border: 1px solid #333;
}

.new-child {
  display: inline-block;
  margin-bottom: 2vh;
}

.edit-child-link{
  margin-top: 1vh;
  padding-left: 3vw;
}

.edit-list {
  list-style: circle;
}
