.child-main {
  margin-top: 11vh;
  margin-bottom: 1vh;
  padding-bottom: 8vh;
}

.time-line {
  min-height: 7vh;
  width: 100vw;
  display: flex;
  position: relative;
  overflow: scroll;
}

hr {
  margin: 0 auto;
}

.time {
  background-color: lightskyblue;
  font-size: 18px;
  height: 100%;
  width: 40px;
  text-align: center;
  padding: 2vh 0;
  position: absolute;
  left: 0;
}

.now {
  background-color: #ff0;
}

.time-line-bk {
  width: 40px;
}

.item-wrap {
  display: flex;
  border-right: 1px solid #ddd;
}

.icon-wrap {
  height: 7vh;
  text-align: center;
  margin: 5px;
  display: flex;
}

.item-icon {
  height: 7vh;
  width: 7vh;
  margin-left: 5px;
}

.item {
  display: flex;
  align-items: center;
  font-size: 20px;
}

.date-line {
  display: flex;
  align-items: center;
}

.line {
  width: 40vw;
  height: 3px;
  border: 0;
  border-top: 1px solid #ff5100;
}

.day {
  text-align: center;
  margin: 1px 0;
}
