.breast-form {
  width: 100vw;
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: center;
}

select {
  font-size: 18px;
}

.btn-wrap {
  height: 10vh;
  width: 100%;
  margin-top: 5vh;
  padding: 0 5vw;
  display: flex;
  justify-content: space-around;
}

.btn-box {
  height: 70px;
  display: flex;
  align-items: center;
}

.btn-icon {
  height: 70px;
}

.submit {
  height: 70px;
  width: 200px;
  font-size: 24px;
  cursor: pointer;
  margin-top: 5vh;
  background-color: #f85b00;
  border: 1px solid;
  color: white;
  letter-spacing: 1em;
  padding: 0;
  padding-left: 20px;
}

.back-btn {
  height: 35px;
  width: 100px;
  display: block;
  background-color: #ccc;
  padding-top: 5px;
  margin: 10px auto;
}