/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  box-sizing: border-box;
}

body {
  background-color: #fbfcc5;
  height: 100%;
  min-height: 100vh;
  position: relative;
  padding-bottom: 12vh;
}

a {
  text-decoration: none;
  color: #222;
}

li {
  list-style: none;
}

header {
  width: 100vw;
  position: fixed;
  top: 0px;
  background-color: #fbfcc5;
  z-index: 10;
}

.header-bk {
  height: 10vh;
}

.header-bar {
  border-bottom: 1px solid #155215;
  height: 10vh;
  margin-bottom: 1vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.title-logo {
  color: #0c0;
  text-shadow: 2px 2px 1px #66fd01;
}

.user-info {
  display: flex;
  align-items: center;
}

.child-name {
  cursor: default;
  position: relative;
}

.show-lists {
  min-width: 50px;
  position: absolute;
  top: 1vh;
  padding: 0;
  background-color: #cff;
}

.pull-down-list {
  font-size: 18px;
  display: list-item;
}

.child-link {
  display: inline-block;
}

.login {
  margin-right: 3vw;
}

.logout {
  margin-left: 3vw;
}

.footer {
  border-top: 1px solid #155215;
  width: 100%;
  height: 10vh;
  margin-top: 1vh;
  margin-bottom: 10vh;
  padding-top: 10px;
  background-color: #fbfcc5;
  text-align: center;
  position: absolute;
  bottom: 0;
}

.footer-logo {
  color: #0c0;
  text-shadow: 1px 1px 1px #66fd01;
}

footer p {
  font-size: 12px;
  margin-top: 5px;
}

.second-footer {
  border-top: 1px solid #155215;
  width: 100%;
  height: 10vh;
  margin: 1vh;
  padding-top: 10px;
  background-color: #fbfcc5;
  text-align: center;
  position: absolute;
  bottom: 0;
}

.btn-list {
  height: 10vh;
  width: 100vw;
  background-color: #f8fa91;
  position: fixed;
  bottom: 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.hidden {
  display: none;
}

.link-icon {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.icon {
  height: 80%;

}

.icon-back{
  background-color: #FFA2C4;
}
